        <div class="container-fluid mt-3">
            <div class="bg-light p-5 text-center">
                <h2>Created by JeihnChoe</h2>
                <p>📞051)921-1000</p>
                <button class="btn btn-outline-primary">고객지원</button>
                <button class="btn btn-outline-success">오시는길</button>
            </div>
        </div>
    </body>
</html>